extends layout

block metas 
    title Home de mi sitio con Expresx.js 
    meta(name="description", content="Descripción de la página del Home")
 
block content 
    main.container
        h1 Hola 
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos eius jlaudantium laboriosam non dicta soluta provident rem ex, assumenda istesimilique fugit! Labore voluptas aliquid adipisci sit tenetur delectusperferendis!
        a(href="/") ir al home
